@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  background-color: #151515;
  color: #fff;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

.landing-name {
  background-image: linear-gradient(97deg,#7540ee,#bb5bb1 53%,#ffb6db);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  line-height: 72px;
  font-weight: 900;
  letter-spacing: -.5px;
}

.third-section {
  background-image: url('./assets/planetry.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-x: right;
}

.third-title {
  margin-bottom: 40px;
  background-image: linear-gradient(104deg,#7540ee,#7540ee 24%,#bb5bb1 48%,#bb5bb1 62%,#ffb6db 82%,#ffb6db 100%,#ffb6db);
  color: #e0dfdf;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 900;
}

.fourth-section {
  background-image: url('./assets/background-line.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-x: right; */
}

.search {
  background-image: url("./assets/search.png");
  background-size: 44px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.lightning {
  background-image: url("./assets/lightning.png");
  background-size: 44px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.rocket {
  background-image: url("./assets/rocket.png");
  background-size: 44px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.search-contain {
  background-color: #747474;
  background-image: linear-gradient(135deg,#1a1a1a,#747474);
}

.eight-title {
  background-image: linear-gradient(117deg,#7540ee,#bb5bb1 52%,#ffb6db);
  color: #f8faff;
  font-size: 55px;
  line-height: 72px;
  font-weight: 900;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.eight-sec-title {
  background-image: linear-gradient(90deg,#bb5bb1,#f99cb8);
  color: #f99cb8;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team {
  display: flex;
  margin-bottom: 24px;
  padding: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 20px;
  background-image: linear-gradient(138deg,#747474,#1a1a1a);
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 25%);
}
.landing-name-mob {
  background-image: linear-gradient(97deg,#7540ee,#bb5bb1 53%,#ffb6db);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
  letter-spacing: -.5px;
}

.third-title-mob {
  margin-bottom: 40px;
  background-image: linear-gradient(104deg,#7540ee,#7540ee 24%,#bb5bb1 48%,#bb5bb1 62%,#ffb6db 82%,#ffb6db 100%,#ffb6db);
  color: #e0dfdf;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 27px;
  font-weight: 900;
}

.eight-title-mob {
  background-image: linear-gradient(117deg,#7540ee,#bb5bb1 52%,#ffb6db);
  color: #f8faff;
  font-size: 24px;
  line-height: 42px;
  font-weight: 900;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width:700) {
  .third-section {
    background-position: left;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
